%h2= t('.sign_up', :default => "Sign up")
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f|
  - if devise_error_messages!
    - messages = (devise_error_messages!).split(/<li>|<\/li>/)
    - messages = messages[1, messages.length - 2]
    - if messages
      - messages.each do |message|
        - if !message.empty?
          .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
            %button.close{"data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            = message
  .field.form-group
    = f.label :login, class: ["col-sm-3", "col-md-4", "control-label"]
    .col-sm-6.col-md-4
      = f.text_field :login, autofocus: true, required: true, class: "form-control"
  .field.form-group
    = f.label :email, class: ["col-sm-3", "col-md-4", "control-label"]
    .col-sm-6.col-md-4
      = f.email_field :email, class: "form-control", required: true
  .field.form-group
    = f.label :password, class: ["col-sm-3", "col-md-4", "control-label"]
    .col-sm-6.col-md-4
      = f.password_field :password, autocomplete: "off", class: "form-control", required: true
  .field.form-group
    = f.label :password_confirmation, class: ["col-sm-3", "col-md-4", "control-label"]
    .col-sm-6.col-md-4
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true
  .field.form-group
    = f.label "CAPTCHA", class: ["col-sm-3", "col-md-4", "control-label"]
    = captcha_tag
    .col-sm-6.col-md-4
      = text_field_tag :captcha, "", autocomplete: "off", required: true, class: 'form-control'
  .actions.col-md-offset-4.col-md-4
    = f.submit "Sign up", class: ["btn", "btn-success", "btn-block"]
  .form-group
    .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
      = render "devise/shared/links"
